.App {
    background-image: url("https://st.depositphotos.com/1001069/1337/i/450/depositphotos_13374686-stock-photo-winter-blurred-bokeh.jpg")!important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color:skyblue;  */
    margin: 0;
  }
  
  .login-form {
    text-align: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }