.App{
    background-image: url("https://st.depositphotos.com/1001069/1337/i/450/depositphotos_13374686-stock-photo-winter-blurred-bokeh.jpg")!important;
    text-align: center; 
}
 .third{
     color:white;
     text-align:center;
     background-color: rgb(17, 148, 184);
 }